<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DJANGO APPICATION</title>
    <title>AMIT SAXENA SIR</title>
</head>
<body>
<body style="background-color:	lightyellow;">
<h1> !!!!!!!Welcome to India !!!!!!!!</h1>
<h1 style="color:#0000ff;">YOUPLUS APP</h1>
<h1 style="font-family:verdana;">YOUPLUS</h1>
<h2> Welcome to My APP</h2>


<strong>This text is strong</strong>
<iframe src="http://127.0.0.1:8000/Home/kjdbbbbvffkvew/" height="200" width="700"></iframe>
<h1 style="background-color:MediumSeaGreen;">Hello YOUPLUS</h1>
<p style="background-color:silver;">...HELLO AMIT SAXENA...</p>
<a href="https://www.w3schools.com/html/html_links.asp">link text</a>
<img src="Image.jpeg" alt="" style="width:500px;height:600px;">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>

<h2>AMIT SAXENA</h2>
<p>Amit Saxena is a Software Professional and Python Trainer too.</p>

<img src="/Users/apple/Desktop/devleopment_1/Home/templates/Home/sdlc training marathahalli reviews   Google Search.png" style="width:500%;">
<form action="/action_page.php">
  First name:<br>
  <input type="text" name="firstname" value="">
  <br>
  Last name:<br>
  <input type="text" name="lastname" value="">
  <br><br>
  <input type="submit" value="Submit">
</form>

<p>If you click the "Submit" button, the form-data will be sent to a page called "http://127.0.0.1:8000/action_page.php?firstname=AMIT&lastname=SAXENA".</p>

<h2>Description About Author</h2>
<p>Dynamic Change-agent skilled in repositioning organizations to achieve operational and service excellence.
Built an impressive record of achievement and advancement through a series of progressively responsible positions leading high growth revenue in new markets..</p>
<p>Amit Saxena is a Software Professional and Python Trainer too.</p>

<header>
  <h2>Courses</h2>
</header>

<section>
  <nav>
    <ul>
      <li><a href="https://www.tutorialspoint.com/python/python_overview.htm">Python</a></li>
      <li><a href="https://docs.djangoproject.com/en/2.2/">Django Framework</a></li>
      <li><a href="https://www.geeksforgeeks.org/selenium-python-tricks/">Python With selenium</a></li>
    </ul>
  </nav>

  <article>
    <h1>Python</h1>
    <p>Python is a High level language ,interpreted and Dynamic Typed lanaguage .</p>
  </article>
</section>

<footer>
  <p>Footer</p>
</footer>


<div class="cities">
  <h2>Django</h2>
  <p>Django Is web Application Framework.</p>
</div>

<img class="sealImage" alt="Image of Seal" src="/Home/templates/Home/Image.jpeg">
<img src="/Home/templates/Home/Image.jpeg">
<img src="img_typo.jpg" alt="Youplus QA TEST TEAM">


<ul>
    {% for a in all_movies %}

    <li>

        <a href="/Home/{{a.id}}/">{{a.actor_movie}}


        </a>

    </li>

    {% endfor %}
</ul>

</body>
</html>